---
http_interactions:
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=GetDomains&Display=10&PW=resellpw&ResponseType=xml&Start=1&Tab=IOwn&UID=resellid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; Charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<GetDomains>\r\n<DomainCount>30</DomainCount>\r\n<domain_list>\r\n<domain><DomainName>testdomain1.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain2.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain3.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain4.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain5.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain6.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain7.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain8.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain9.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n<domain><DomainName>testdomain10.com</DomainName><expiration_date>8/25/2026
        5:00:00 PM</expiration_date></domain>\r\n</domain_list>\r\n<NextRecords>11</NextRecords>\r\n</GetDomains>\r\n<Command>GETDOMAINS</Command>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<Done>true</Done>\r\n</interface-response>\r\n"
  recorded_at: Wed, 13 May 2026 12:00:00 GMT
[...]
