---
http_interactions:
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=Extend&PW=resellpw&ResponseType=xml&SLD=test123456test123456789abc&TLD=com&UID=resellid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; Charset=utf-8
      Machinename:
      - BRA2VWRESTEST01
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<Extension>successful</Extension>\r\n<DomainName>test123456test123456789abc.com</DomainName>\r\n<OrderID>162752586</OrderID>\r\n<RRPCode>200</RRPCode>\r\n<RRPText>Command
        completed successfully</RRPText>\r\n<UseCreditCard>False</UseCreditCard>\r\n<TotalCharged>8.95</TotalCharged>\r\n<DomainInfo>\r\n<RegistryExpDate>2024-08-25
        17:35:57.000</RegistryExpDate>\r\n</DomainInfo>\r\n<Command>EXTEND</Command>\r\n<APIType>API</APIType>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<MinPeriod>1</MinPeriod>\r\n<MaxPeriod>10</MaxPeriod>\r\n<Server>BRA2VWRESTEST01</Server>\r\n<Site>eNom</Site>\r\n<IsLockable>True</IsLockable>\r\n<IsRealTimeTLD>True</IsRealTimeTLD>\r\n<TimeDifference>+08.00</TimeDifference>\r\n<ExecTime>0.000</ExecTime>\r\n<Done>true</Done>\r\n<TrackingKey>0b76550d-e5c7-4c37-8d15-c580c58551bf</TrackingKey>\r\n<RequestDateTime>8/25/2022
        1:37:08 PM</RequestDateTime>\r\n<debug><![CDATA[]]></debug>\r\n</interface-response>\r\n"
  recorded_at: Thu, 25 Aug 2022 17:37:08 GMT
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=GetDomainInfo&PW=resellpw&ResponseType=xml&SLD=test123456test123456789abc&TLD=com&UID=resellid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; Charset=utf-8
      Machinename:
      - BRA2VWRESTEST02
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<GetDomainInfo>\r\n<domainname
        sld=\"test123456test123456789abc\" tld=\"com\" domainnameid=\"366533324\">test123456test123456789abc.com</domainname>\r\n<multy-langSLD>\r\n</multy-langSLD>\r\n<status>\r\n<expiration>8/25/2024
        5:35:00 PM</expiration>\r\n<deletebydate>8/25/2024 5:35:00 PM</deletebydate>\r\n<deletetype></deletetype>\r\n<restorable>True</restorable>\r\n<renewbeforeexpiration></renewbeforeexpiration>\r\n<registrar>eNom,
        Inc.</registrar>\r\n<registrationstatus>Registered</registrationstatus>\r\n<purchase-status>Paid</purchase-status>\r\n<belongs-to
        party-id=\"{BB4A2DE1-6485-45CB-A4FC-EE39BA0C1629}\">resellid</belongs-to>\r\n<escrowhold></escrowhold>\r\n<escrowliftdate></escrowliftdate>\r\n<auctionhold>False</auctionhold>\r\n<auctionliftdate></auctionliftdate>\r\n</status>\r\n<ParkingEnabled>False</ParkingEnabled>\r\n<services><entry
        name=\"dnsserver\"><enomDNS value=\"YES\" isDotName=\"NO\" /><service changable=\"1\">1006</service><configuration
        changable=\"0\" type=\"dns\"><dns>dns1.name-services.com</dns><dns>dns2.name-services.com</dns><dns>dns3.name-services.com</dns><dns>dns4.name-services.com</dns><dns>dns5.name-services.com</dns></configuration></entry><entry
        name=\"dnssettings\"><service changable=\"0\">1021</service><configuration
        changable=\"1\" type=\"host\"><host><name><![CDATA[*]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.179]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host><host><name><![CDATA[@]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.178]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host><host><name><![CDATA[www]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.180]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host></configuration></entry><entry
        name=\"wsb\"><service changable=\"1\">1060</service></entry><entry name=\"emailset\"><service
        changable=\"1\">1048</service></entry><entry name=\"wpps\"><service changable=\"1\">1123</service></entry><entry
        name=\"wbl\"><wbl><statusid><![CDATA[0]]></statusid><statusdescr><![CDATA[Available]]></statusdescr></wbl></entry><entry
        name=\"mobilizer\"><service changable=\"0\">1117</service><mobilizer /></entry><entry
        name=\"parking\"><service changable=\"1\">1030</service></entry><entry name=\"messaging\"><service
        changable=\"1\">1087</service></entry><entry name=\"map\"><service changable=\"1\">1108</service></entry><entry
        name=\"raasettings\" ></entry><entry name=\"irtpsettings\"><irtpsetting><icanncompliant>True</icanncompliant><optout>True</optout><transferlock>False</transferlock><transferlockexpdate
        /></irtpsetting></entry><entry name=\"portalsettings\"><service changable=\"1\"></service></entry><entry
        name=\"whoispublicity\"><service changable=\"1\"></service><whoispublicity><vasitemid></vasitemid><enabled>False</enabled></whoispublicity></entry></services></GetDomainInfo>\r\n<Command>GETDOMAININFO</Command>\r\n<APIType>API</APIType>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<MinPeriod>1</MinPeriod>\r\n<MaxPeriod>10</MaxPeriod>\r\n<Server>BRA2VWRESTEST02</Server>\r\n<Site>eNom</Site>\r\n<IsLockable>True</IsLockable>\r\n<IsRealTimeTLD>True</IsRealTimeTLD>\r\n<TimeDifference>+08.00</TimeDifference>\r\n<ExecTime>0.000</ExecTime>\r\n<Done>true</Done>\r\n<TrackingKey>baba1766-8de3-4795-9259-07de2cad06f0</TrackingKey>\r\n<RequestDateTime>8/25/2022
        1:37:09 PM</RequestDateTime>\r\n<debug><![CDATA[]]></debug>\r\n</interface-response>\r\n"
  recorded_at: Thu, 25 Aug 2022 17:37:08 GMT
recorded_with: VCR 6.1.0
