---
http_interactions:
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=GetDomainInfo&PW=resellpw&ResponseType=xml&SLD=test123456test123456789&TLD=com&UID=resellid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; Charset=utf-8
      Machinename:
      - BRA2VWRESTEST02
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<GetDomainInfo>\r\n<domainname
        sld=\"test123456test123456789\" tld=\"com\" domainnameid=\"366533284\">test123456test123456789.com</domainname>\r\n<multy-langSLD>\r\n</multy-langSLD>\r\n<status>\r\n<expiration>8/25/2023
        5:13:00 PM</expiration>\r\n<deletebydate>8/25/2023 5:13:00 PM</deletebydate>\r\n<deletetype></deletetype>\r\n<restorable>True</restorable>\r\n<renewbeforeexpiration></renewbeforeexpiration>\r\n<registrar>eNom,
        Inc.</registrar>\r\n<registrationstatus>Registered</registrationstatus>\r\n<purchase-status>Paid</purchase-status>\r\n<belongs-to
        party-id=\"{BB4A2DE1-6485-45CB-A4FC-EE39BA0C1629}\">resellid</belongs-to>\r\n<escrowhold></escrowhold>\r\n<escrowliftdate></escrowliftdate>\r\n<auctionhold>False</auctionhold>\r\n<auctionliftdate></auctionliftdate>\r\n</status>\r\n<ParkingEnabled>False</ParkingEnabled>\r\n<services><entry
        name=\"dnsserver\"><enomDNS value=\"YES\" isDotName=\"NO\" /><service changable=\"1\">1006</service><configuration
        changable=\"0\" type=\"dns\"><dns>dns1.name-services.com</dns><dns>dns2.name-services.com</dns><dns>dns3.name-services.com</dns><dns>dns4.name-services.com</dns><dns>dns5.name-services.com</dns></configuration></entry><entry
        name=\"dnssettings\"><service changable=\"0\">1021</service><configuration
        changable=\"1\" type=\"host\"><host><name><![CDATA[*]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.179]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host><host><name><![CDATA[@]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.178]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host><host><name><![CDATA[www]]></name><type><![CDATA[A]]></type><address><![CDATA[85.92.87.180]]></address><mxpref><![CDATA[10]]></mxpref><iseditable><![CDATA[1]]></iseditable></host></configuration></entry><entry
        name=\"wsb\"><service changable=\"1\">1060</service></entry><entry name=\"emailset\"><service
        changable=\"1\">1048</service></entry><entry name=\"wpps\"><service changable=\"1\">1123</service></entry><entry
        name=\"wbl\"><wbl><statusid><![CDATA[0]]></statusid><statusdescr><![CDATA[Available]]></statusdescr></wbl></entry><entry
        name=\"mobilizer\"><service changable=\"0\">1117</service><mobilizer /></entry><entry
        name=\"parking\"><service changable=\"1\">1030</service></entry><entry name=\"messaging\"><service
        changable=\"1\">1087</service></entry><entry name=\"map\"><service changable=\"1\">1108</service></entry><entry
        name=\"raasettings\" ></entry><entry name=\"irtpsettings\"><irtpsetting><icanncompliant>True</icanncompliant><optout>True</optout><transferlock>False</transferlock><transferlockexpdate
        /></irtpsetting></entry><entry name=\"portalsettings\"><service changable=\"1\"></service></entry><entry
        name=\"whoispublicity\"><service changable=\"1\"></service><whoispublicity><vasitemid></vasitemid><enabled>False</enabled></whoispublicity></entry></services></GetDomainInfo>\r\n<Command>GETDOMAININFO</Command>\r\n<APIType>API</APIType>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<MinPeriod>1</MinPeriod>\r\n<MaxPeriod>10</MaxPeriod>\r\n<Server>BRA2VWRESTEST02</Server>\r\n<Site>eNom</Site>\r\n<IsLockable>True</IsLockable>\r\n<IsRealTimeTLD>True</IsRealTimeTLD>\r\n<TimeDifference>+08.00</TimeDifference>\r\n<ExecTime>0.000</ExecTime>\r\n<Done>true</Done>\r\n<TrackingKey>b19e5f2b-83f0-4eca-b1b9-8fa09c46e438</TrackingKey>\r\n<RequestDateTime>8/25/2022
        1:53:42 PM</RequestDateTime>\r\n<debug><![CDATA[]]></debug>\r\n</interface-response>\r\n"
  recorded_at: Thu, 25 Aug 2022 17:53:42 GMT
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=ModifyNS&NS1=dns1.name-services.com&NS2=dns2.name-services.com&PW=resellpw&ResponseType=xml&SLD=test123456test123456789&TLD=com&UID=resellid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Machinename:
      - BRA2VWRESTEST02
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<RRPCode>200</RRPCode>\r\n<RRPText>Command
        completed successfully</RRPText>\r\n<Command>MODIFYNS</Command>\r\n<APIType>API.NET</APIType>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<MinPeriod>1</MinPeriod>\r\n<MaxPeriod>10</MaxPeriod>\r\n<Server>bra2vwrestest02</Server>\r\n<Site>eNom</Site>\r\n<IsLockable>True</IsLockable>\r\n<IsRealTimeTLD>True</IsRealTimeTLD>\r\n<TimeDifference>+8.00</TimeDifference>\r\n<ExecTime>0.562</ExecTime>\r\n<Done>true</Done>\r\n<TrackingKey>533ef96e-c7a0-46eb-bed3-8a5985acc7fa</TrackingKey>\r\n<RequestDateTime>8/25/2022
        1:53:43 PM</RequestDateTime>\r\n<debug/>\r\n</interface-response>"
  recorded_at: Thu, 25 Aug 2022 17:53:43 GMT
recorded_with: VCR 6.1.0
