---
http_interactions:
- request:
    method: get
    uri: https://resellertest.enom.com/interface.asp?Command=Check&IncludeEAP=1&IncludePrice=1&IncludeProperties=1&PW=resellpw&ResponseType=xml&SLD=foo&TLD=store&UID=resellid&Version=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Machinename:
      - BRA2VWRESTEST02
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<interface-response>\r\n<Domains>\r\n
        \ <Domain>\r\n    <Name>foo.store</Name>\r\n    <RRPCode>211</RRPCode>\r\n
        \   <RRPText>Domain not available</RRPText>\r\n    <IsPremium>False</IsPremium>\r\n
        \   <IsPlatinum>False</IsPlatinum>\r\n    <IsEAP>False</IsEAP>\r\n    <Prices>\r\n
        \     <Currency></Currency>\r\n      <Registration>56.00</Registration>\r\n
        \     <Renewal>56.00</Renewal>\r\n      <Restore>250.00</Restore>\r\n      <Transfer>56.00</Transfer>\r\n
        \     <ExpectedCustomerSuppliedPrice />\r\n    </Prices>\r\n    <Properties>\r\n
        \     <NativeSLD></NativeSLD>\r\n      <MinRegYear>1</MinRegYear>\r\n      <MaxRegYear>10</MaxRegYear>\r\n
        \     <AbleToLock>True</AbleToLock>\r\n      <ExtAttributes>False</ExtAttributes>\r\n
        \     <Transferable>True</Transferable>\r\n      <AllowWPPS>True</AllowWPPS>\r\n
        \     <TrademarkStart UTC=\"2016-06-07T13:00:00Z\" Epoch=\"1465290000\">6/7/2016
        9:00:00 AM</TrademarkStart>\r\n      <TrademarkEnd UTC=\"2016-09-05T13:00:00Z\"
        Epoch=\"1473066000\">9/5/2016 9:00:00 AM</TrademarkEnd>\r\n    </Properties>\r\n
        \   <EAP />\r\n  </Domain>\r\n</Domains>\r\n<Command>CHECK</Command>\r\n<APIType>API.NET</APIType>\r\n<Language>eng</Language>\r\n<ErrCount>0</ErrCount>\r\n<ResponseCount>0</ResponseCount>\r\n<MinPeriod>1</MinPeriod>\r\n<MaxPeriod>10</MaxPeriod>\r\n<Server>bra2vwrestest02</Server>\r\n<Site>eNom</Site>\r\n<IsLockable/>\r\n<IsRealTimeTLD/>\r\n<TimeDifference>+0.00</TimeDifference>\r\n<ExecTime>0.328</ExecTime>\r\n<Done>true</Done>\r\n<TrackingKey>ca2a9b97-91fe-44a2-8e0b-15e56f303a31</TrackingKey>\r\n<RequestDateTime>8/25/2022
        1:03:21 PM</RequestDateTime>\r\n<debug/>\r\n</interface-response>"
  recorded_at: Thu, 25 Aug 2022 17:03:21 GMT
recorded_with: VCR 6.1.0
